body{margin:0; padding:0; font-size:9pt;}

#top{width:100%; height:60px; background:url(/media/image/default/main_04.gif);}

#logo{width:550px; height:60px; background:url(/media/image/default/main_02.gif); float:left; margin-left:32px;}

#user{ margin-top:38px; padding-left:40px; float:left;}

#main{width:100%;background:url(/media/image/default/main_bg.gif) repeat-x;}

#left{background-image:url(/media/image/default/main_bg.gif) ; background-repeat:repeat-x;}

#left_menu{ width:184px;background:url(/media/image/default/main_07.gif) no-repeat; height:52px; margin-left:4px;}

#left_tree{width:184px; background:url(/media/image/default/main_19.gif); height:260px; margin-left:4px;}

#tree_icon{width:162px; height:95px; background:url(/media/image/default/main_12.gif); margin-left:11px; text-align:center;}

.tree_text{ width:162px; margin-left:11px; margin-top:10px; list-style:none;}

.tree_li {list-style:none; line-height:25px;white-space:nowrap;}

.list_img{margin-right:5px; width:3px; margin-left:5px;}

#yh{width:50px; height:50px; float:left; margin-left:20px; margin-top:10px; line-height:25px; color:#fff;}

#system{width:50px; height:50px; float:right; margin-right:20px; margin-top:10px; line-height:25px; color:#fff;}

#tree_down{height:17px; width:184px; margin-left:4px; margin-bottom:0px; background:url(/media/image/default/main_21.gif);}

#right_top{height:35px;color:#fff;background-image:url(/media/image/default/main_09.gif) ; background-repeat:repeat-x;}

#img{height:26px; width:35px; float:left;padding-top:5px; text-align:center;}

.imgtext{ float:left; display: block; margin-top:13px; margin-left:3px;}

#loginout{float:right; margin-right:35px;padding-top:5px; text-align:center; width:80px;}

#loginoutimg{width:26px; height:26px; float:left;}

.logintext{display: block; padding-top:9px; margin-left:3px; float:left;}

#right_font{padding-top:10px;height:28px; background-image:url(/media/image/default/main_10.gif) ; background-repeat:repeat-x;}

#right_font img {padding-right:8px; margin-left:15px;}

.bfont{ font-weight:bolder; font-size:9pt;}

table {border:0px;}

table th,table td {padding:5px;height:22px;background-color:#FFFFFF;}

.spanclick {cursor:pointer;}

.STYLE1 {font-size: 12px}
.STYLE3 {color: #707070; font-size: 12px; }
.STYLE5 {color: #0a6e0c; font-size: 12px; }
.STYLE7 {font-size: 12}