@charset "utf-8";
body {color: #000;margin: 0px;background-color: #D7D9B9;font-family: Arial;background-image: url(/media/image/welcome/cn51bj.gif);background-repeat: repeat-x;background-position: top;}
a:hover {text-decoration: underline;}
a {text-decoration: none;color: #000;}
table {text-align:left;line-height: 18px;text-decoration: none;font-size: 12px;}

table {
border-collapse:collapse;
border-spacing:0;
}
/*th,td {
padding: 0;
}*/

.cn51white12top{font-size: 12px;color: #EFF6E5;}
.cn51white12{font-size: 12px;color: #fff;}
.cn51white12b{font-size: 12px;color: #fff;font-weight: bold;}
.cn51white14b{font-size: 14px;color: #fff;font-weight: bold;}
.cn51white12bottom{font-size: 12px;color: #D8DABC;line-height: 19px;}
.cn51top01{background-image: url(/media/image/welcome/cn51top01.jpg);background-repeat: no-repeat;height: 50px;}

.cn51toppd a{font-size: 12px;font-weight: bold;color: #383623;padding:16px 16px 4px 16px;display:block;margin:0;background: url(/media/image/welcome/cn51toppd02.gif) repeat-x top;}
.cn51toppd a:hover {background-position:0% -38px;color: #2C1700;text-decoration: none;}
.cn51toppd2 a{font-size: 12px;font-weight: bold;color: #383623;padding:16px 16px 4px 16px;display:block;margin:0;background: url(/media/image/welcome/cn51toppd02.gif) repeat-x 0% -38px;}
.cn51toppd2 a:hover {color: #2C1700;text-decoration: none;}
/*-cn51toppd cn51toppd2 频道样式- */

.cn51huilm{font-size: 12px;font-weight: bold;color: #3A3B32;}
.cn51left01 input{WIDTH: 85px;height:18px;color: #666;border: 1px solid #97988E}
.cn51yellow1218{font-size: 12px;line-height: 18px;color: #DAE2A9;}
.cn51yellow12182{font-size: 12px;line-height: 18px;color: #C3C8A7;}
.cn51yellow12182b{font-size: 12px;line-height: 18px;color: #C3C8A7;font-weight: bold;}
.cn51yellow12183{font-size: 12px;line-height: 18px;color: #4A4C30;}
.cn51yellow12184_lr {padding:3px 0 3px 0;color: #4A4C30;font-size: 12px;}
.cn51yellow12184_lr a{font-size: 12px;line-height: 18px;color: #4A4C30;}
.cn51yellow12185 {color: #7F8166;font-size: 12px;}
.cn51yellow12186 {color: #9A9E80;font-size: 12px;}

.cn51centernew{background: #D7DCCB url(/media/image/welcome/cn51center01.gif) repeat-x top;}
.cn51center01{background-color: #D7DCCB;background-image: url(/media/image/welcome/cn51center05.gif);background-repeat: repeat-x;background-position: top;}
.cn51black14b{font-size: 14px;font-weight: bold;color: #000;line-height: 20px;}
.cn51black12b{font-size: 12px;font-weight: bold;color: #000;}

.cn51righthui1218{font-size: 12px;color: #50514B;line-height: 18px;padding:3px 0px;}
.cn51righthui1218 a{font-size: 12px;color: #50514B;line-height: 18px;}
.cn51hui1218{font-size: 12px;color: #D1D6AF;line-height: 18px;padding:4px 0 4px 0;}
.cn51hui1218 a{font-size: 12px;color: #D1D6AF;line-height: 18px;}

.cn51huilm142{font-size: 14px;font-weight: bold;color: #3A3B32;}
.cn511outline_bj{background-color: #D7D9B9;background-image: url(/media/image/welcome/cn51outline10.gif);background-repeat: repeat-x;background-position: top;}




/*二级*/
.font06{font-size:12px;line-height:24px; font-style:normal;color:#424242;} 
a.font06:link {color:#424242;text-decoration: none;}
a.font06:visited {color:#424242;text-decoration: none;}
a.font06:hover {color:#424242;text-decoration: underline;}

.font02{font-size:12px; font-style:normal; color:#666666;}
/*三级*/
.blu23l28 {
	font-family: "黑体";
	font-size: 20px;
	line-height: 28px;
	font-weight: normal;
	color: #37382E;
	text-decoration: none;
}
.h14l24 {
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
	color: #424242;
	text-decoration: none;
}
.black12data { font-size:12px; color:#8e8e8e; font-weight:normal; text-decoration:none;}
.black12data:hover { font-size:12px; color:#ff6600; font-weight:normal; text-decoration:none;}
.h12 {
	font-size: 12px;
	line-height: 22px;
	font-weight: normal;
	color: #000;
	text-decoration: none;
}
.h12:hover {
	color: #ff6600;
	text-decoration: underline;
}
.black12h { font-size:12px; color:#424242; font-weight:normal; text-decoration:none; line-height:20px;}
.black12h:hover { color:#000000;line-height:20px;}

.h12l22 {
	font-size: 12px;
	line-height: 22px;
	font-weight: normal;
	color: #424242;
	text-decoration: none;
}
.h12l22:hover {
	color: #1a64b1;
	text-decoration: underline;
}
/* CSS Document */
/*中文正文新样式*/
.cas_content {
        font-family: Arial, "宋体";
        text-indent:21pt;
        padding-bottom:12px;
        padding-top:0px;
        margin:0px;
        line-height:25px;
        font-size:14px;
}
.cas_content P{
        text-indent:21pt;
        padding-bottom:12px;
        padding-top:0px;
        margin:0px;
        line-height:25px;
        font-size:14px;
}
.cas_content a:link,visited,hover,active{font-size:14px;}
.cas_content table td{
        text-indent:0pt;
        padding-bottom:0px;
        padding-top:0px;
        font-size:14px;

}
.cas_content table p{
        text-indent:0pt;
        padding-bottom:0px;
        padding-top:0px;
        font-size:14px;
} 